//Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: $fontBarlow;
  font-size: 18px;
}

.header {
  padding: 1.5rem;
  position: absolute;
  width: 100%;

  &__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &--img {
      @media all and (min-width: 1440px) {
        display: none;
      }
    }
  }

  .desktop_menu {
    display: none;
    &__list {
      display: flex;
      list-style: none;
      justify-content: space-between;
      &--link {
        padding: 0 1.5rem;
        color: $white;
        text-decoration: none;
      }
      &--button {
        padding: 0 1rem;
        color: $veryDarkDesaturatedBlue;
        background-color: $white;
        font-family: $fontFraunces;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 1.5rem;
        border-radius: 60px;
        margin: 0 1.5rem;
      }

      &--button:hover {
        color: $white;
        background-color: rgba($color: $white, $alpha: 0.3);
      }
    }

    @media all and (min-width: 1440px) {
      display: flex;
      align-items: center;
    }
  }
  @media all and (min-width: 1440px) {
    padding: 3rem;
  }
}

.hamburger_menu {
  background-color: $white;
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  position: relative;

  &__triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30px 30px;
    border-color: transparent transparent $white transparent;
    position: absolute;
    right: 0%;
    top: 0%;
    transform: translate(0, -100%);
  }
  &__list {
    list-style: none;
    padding: 0.8rem;

    &--link {
      text-decoration: none;
      color: $grayishBlue;
    }
    &--button {
      text-decoration: none;
      background-color: $yellow;
      padding: 1rem;
      font-family: $fontFraunces;
      text-transform: uppercase;
      color: $black;
      border-radius: 60px;
      margin: 0.8rem;
    }
  }
}

.hero {
  background-image: url('../assets/img/mobile/image-header.jpg');
  background-size: contain;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-color: $header-bg;
  height: 33rem;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    color: $white;
    text-transform: uppercase;
    font-family: $fontFraunces;
    font-size: 2.3rem;
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.6rem;
    margin: 2rem 0;
    @media all and (min-width: 1440px) {
      margin: 4rem 0;
    }
  }
  @media all and (min-width: 768px) {
    background-image: url('../assets/img/desktop/image-header.jpg');
    height: 43rem;
  }
  @media all and (min-width: 1440px) {
    height: 100vh;
  }
}
//Features

.transform {
  flex-direction: column-reverse;
  &__img {
    background-image: url('../assets/img/mobile/image-transform.jpg');
    @media all and (min-width: 768px) {
      background-image: url('../assets/img/desktop/image-transform.jpg');
    }
  }
  &__link:after {
    background-color: $yellow;
  }
  @media all and (min-width: 768px) {
    flex-direction: row;
  }
}

.stand_out {
  flex-direction: column;
  &__img {
    background-image: url('../assets/img/mobile/image-stand-out.jpg');
    @media all and (min-width: 768px) {
      background-image: url('../assets/img/desktop/image-stand-out.jpg');
    }
  }
  &__link:after {
    background-color: $softRed;
  }
  @media all and (min-width: 768px) {
    flex-direction: row;
  }
}

.article {
  display: flex;
  &__text {
    text-align: center;
    padding: 4rem 1rem;
    &--title {
      font-family: $fontFraunces;
      font-weight: 900;
      font-size: 1.8rem;
      padding: 1rem;
    }
    &--paragraph {
      color: $darkGrayishBlue;
      line-height: 1.8rem;
      margin: 0.8rem;
    }
    &--link {
      text-transform: uppercase;
      text-decoration: none;
      font-family: $fontFraunces;
      color: $veryDarkDesaturatedBlue;
      padding: 0.5rem;
      margin: 1rem;
      position: relative;
    }
    &--link:after {
      content: '';
      position: absolute;
      opacity: 0.5;
      height: 8px;
      width: 100%;
      left: 0;
      right: 0;
      top: 60%;
      z-index: -1;
    }
    &--link:hover:after {
      opacity: 1;
    }

    @media all and (min-width: 768px) {
      width: 50%;
      text-align: left;
    }
    @media all and (min-width: 1440px) {
      padding: 10rem 8rem;
    }
  }
  &__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;
    @media all and (min-width: 768px) {
      width: 50%;
      background-position: top;
      height: initial;
    }
  }
}

//Services

.services {
  display: flex;
  flex-direction: column;
  &__article {
    background-repeat: no-repeat;
    background-size: cover;
    height: 33.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    &--title {
      font-family: $fontFraunces;
      font-size: 1.5rem;
    }
    &--paragraph {
      text-align: center;
      padding: 1.5rem 1.5rem 3rem 1.5rem;
      line-height: 1.4rem;
      @media all and (min-width: 1440px) {
        padding: 2rem 9rem 3.5rem 9rem;
      }
    }
    @media all and (min-width: 768px) {
      width: 50%;
    }
  }
  @media all and (min-width: 768px) {
    flex-direction: row;
  }
}

.graphic_design {
  background-image: url('../assets/img/mobile/image-graphic-design.jpg');
  color: $darkDesaturatedCyan;
  @media all and (min-width: 1440px) {
    background-image: url('../assets/img/desktop/image-graphic-design.jpg');
  }
}
.photography {
  background-image: url('../assets/img/mobile/image-photography.jpg');
  color: $darkBlue;
  @media all and (min-width: 1440px) {
    background-image: url('../assets/img/desktop/image-photography.jpg');
  }
}

//Testimonials
.testimonials {
  padding: 3rem 1.5rem;
  &__title {
    font-family: $fontFraunces;
    text-transform: uppercase;
    text-align: center;
    color: $grayishBlue;
    padding: 1.5rem 0;
    letter-spacing: 0.3rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    @media all and (min-width: 1440px) {
      flex-direction: row;
    }
  }
  &__article {
    text-align: center;
    padding: 1.5rem 0;
    &--img {
      border-radius: 50%;
      width: 6rem;
    }
    &--paragraph {
      color: $darkGrayishBlue;
      line-height: 1.8rem;
      font-weight: 600;
      padding: 1.5rem 0;
    }
    &--name {
      font-family: $fontFraunces;
      font-size: 1.25rem;
    }
    &--job {
      color: $grayishBlue;
      font-size: 0.9rem;
      margin-top: 0.9rem;
    }
    @media all and (min-width: 1440px) {
      padding: 3rem;
    }
  }
  @media all and (min-width: 768px) {
    padding: 8rem 8rem;
  }
  @media all and (min-width: 1440px) {
    padding: 8rem 4rem;
  }
}

//Images

.gallery {
  display: flex;
  flex-wrap: wrap;
  height: 20rem;

  &__images {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
    @media all and (min-width: 768px) {
      width: 100%;
    }
  }

  &__milk {
    background-image: url('../assets/img/mobile/image-gallery-milkbottles.jpg');
    @media all and (min-width: 768px) {
      background-image: url('../assets/img/desktop/image-gallery-milkbottles.jpg');
    }
  }
  &__orange {
    background-image: url('../assets/img/mobile/image-gallery-orange.jpg');
    @media all and (min-width: 768px) {
      background-image: url('../assets/img/desktop/image-gallery-orange.jpg');
    }
  }
  &__cone {
    background-image: url('../assets/img/mobile/image-gallery-cone.jpg');
    @media all and (min-width: 768px) {
      background-image: url('../assets/img/desktop/image-gallery-cone.jpg');
    }
  }
  &__sugar {
    background-image: url('../assets/img/mobile/image-gallery-sugar-cubes.jpg');
    @media all and (min-width: 768px) {
      background-image: url('../assets/img/desktop/image-gallery-sugarcubes.jpg');
    }
  }
  @media all and (min-width: 768px) {
    flex-wrap: nowrap;
    height: 13rem;
  }
  @media all and (min-width: 1440px) {
    height: 24rem;
  }
}

//Footer

.footer {
  background-color: $footer-bg;
  padding: 4rem 1.5rem;
  text-align: center;
  &__logo {
    transform: scale(1.5);
    &--path {
      color: $darkModerateCyan;
    }
  }
  &__menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 3rem 0;
    &--link {
      color: $darkModerateCyan;
      text-decoration: none;
    }
    &--link:hover {
      fill: $white;
      color: $white;
    }
    @media all and (min-width: 768px) {
      width: 40%;
      margin: 0 auto;
    }
    @media all and (min-width: 1440px) {
      width: 20%;
    }
  }
  .social_media {
    width: 70%;
    margin: 0 auto;
  }
}

.hidden {
  display: none;
}
